/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

$primary: rgb(70, 137, 212);

.register-container {
  mat-dialog-container {
    font-size: 13px;
    width: 100%;
    text-align: center;

    .ng-star-inserted {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        div {
          margin-bottom: 5px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          flex-wrap: inherit;
        }

        button {
          width: 80%;
          position: relative;
          margin: 0 auto;
        }
      }
    }
  }
}
